* {
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

.siteContainer {
    background-color: slategrey;
}

/*Formatação geral dos links*/
a {
    text-decoration: none;
    color: blue;
    
}

a:hover {
    color: red;
    background-color: blue;
    padding: 0.2em;
    font-size: 1.2em;
}


/*PAGINA INDEX*/
/*Tamanho das imagens*/
#thais {
    width: 90%;
    max-width: 500px;
}

#imgUFF {
    width: 90%;
    max-width: 700px;
}
/*Centralização dos textos*/
header,
footer,
figure,
p {
    text-align: center;
}

/*Formatação do pagrafo*/
p {
    background-color: aliceblue;
    max-width: 500px;
    padding: 1em;
}

/*Formatação das listas*/
.hobbiesList {
    list-style-type: none;
    background-color: aliceblue;
    max-width: 500px;
    min-width: 300px;
    padding: 1rem;
    margin-top: 2em;
    margin-bottom: 2em;
    border-width: 2em;
    border-color: black;
    border-style: solid;
    border-radius: 1.2em;
}

.topFilmesList {
    list-style-type: none;
    background-color: rgb(143, 11, 11);
    max-width: 500px;
    min-width: 300px;
    padding: 1rem;
    margin-top: 2em;
    margin-bottom: 2em;
    border-width: 1em;
    border-color: blue;
    border-style: solid;
    border-radius: 1.2em;
}

.hobbiesList > h4,
.topFilmesList > h4 {
    padding: 1em;
}

.hobbiesList > li,
.topFilmesList > li {
    line-height: 1.5em;
    padding-left: 3em;
}

/*Formatação das img*/
figure {
    padding: 2em;
}

/*Formatação do rodapé*/
.rodape {
    margin-bottom: 2em;
}

/*formatação dos links do rodapé*/
.rodape > a{
    padding: 2em;
}

.rodape > a:hover {
    color: red;
    background-color: blue;
    padding: 0.5em;
    font-size: 1.2em;
}


/*PÁGINA CONTATO*/
/*Formulários*/
form {
    background-color: darkgrey;
    width: 300px;
    padding: 2em;
}

/*limitando o crescimento lateral da caixa de texto do formulario*/
textarea {
    max-width: 280px;
}